@media  screen and (min-width:200px) and (max-width:991px){
.header ul li { padding: 15px 15px;}
.sidebar-rigt{overflow: hidden;}
.home2 input{width: 110px;}
.bb{height: 35px;}
}



@media  screen and (min-width:200px) and (max-width:480px){
  .logo h1{font-size: 25px;}
  .search-box input{width: 110px; height: 25px; font-size: 12px;}
  .search-box button{height: 30px; width: 50px;}
  .search-box{margin-top: -5px;}
   .header ul li{display: block; text-align: center; margin-top: 20px;}
.first-section{display: inline-block;}
.first-section img{height: 350px; width:400px;}
.sidebar-right{width: 90%; margin-top: 20px;}
iframe{height: 300px; margin-top: 20px;}
.secound-section{padding: 0px;}
.secound-section{display: inline-block;}
.add-section{width: 100%;}
.add-section h4{font-size: 20px;}
.table-data{width: 100%; height: 350px;}
.third-section h3{font-size: 20px;}
.third-section{display: inline-block;}
.third-section img{margin-top: 30px; margin-bottom: 40px; margin-left: 20px;width: 300px;}
.about-me{display: inline-block; text-align: center;margin-left: -20px;}
.home1{width: 100%;}
.home2{width: 100%; background-color: #f0f0f0; margin-top: 20px;}
.home3{width: 100%; margin-top: 20px; background-color: #f0f0f0; overflow: hidden;}
.home4{width: 100%; margin-top: 20px; background-color: #f0f0f0;}
.about-me{background: none;}
.home1{background-color: #f0f0f0;}
.home1 p{margin-top: 20px;}
.home2 p{margin-top: 15px; margin-left: 130px;}
.home2 input{ width: 60%;padding-left: 10px;}
.home3 p{margin-top: 15px;}
.home4 p{margin-top: 30px; font-size: 20px;}
.home4 input {padding-left: 10px; font-size: 17px; width: 300px;}
.home4 textarea{height: 130px; width: 300px;}
.home4 button{width: 100px;}
.footer{display: block; margin-top: 30px;}
.part1{margin-left: 100px;margin-bottom: 10px;}
.part2{margin-left: 80px;}

}
